---
const github = "GitHub";
const username = "cb11cb12";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${github}.com/${username}`} target="_blank">{github}</a>!</p>
</footer>